<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Profile" asp-action="Index">
                <i class="nav-icon fas fa-id-card"></i>
                <p>Profile</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Profile" asp-action="ListProfile">
                <i class="nav-icon fas fa-user-tag"></i>
                <p>Profiles</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="User" asp-action="ListUsers">
                <i class="nav-icon fas fa-user-tag"></i>
                <p>Users</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Role" asp-action="RoleList">
                <i class="nav-icon fas fa-list-alt"></i>
                <p>Roles</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Role" asp-action="CreateRole">
                <i class="nav-icon fas fa-user-tag"></i>
                <p>Create Role</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Branch" asp-action="Index">
                <i class="nav-icon fas fa-user-tag"></i>
                <p>Branches</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Branch" asp-action="Create">
                <i class="nav-icon fas fa-user-tag"></i>
                <p>Create Branch</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="RegisterWithRole">
                <i class="nav-icon fas fa-user-tag"></i>
                <p>Register With Role</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Credit" asp-action="ListCredit">
                <i class="nav-icon fas fa-user-tag"></i>
                <p>List Credit </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Credit" asp-action="Index">
                <i class="nav-icon fas fa-user-tag"></i>
                <p>Credit</p>
            </a>
        </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="Credit" asp-action="BuySubscription">
                    <i class="nav-icon fas fa-user-tag"></i>
            <p>Buy Subscription</p>
                </a>
            </li>  

        
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>Logout</p>
            </a>
            <form id="logout-form" asp-action="Logout" asp-controller="Account" method="post" style="display: none;">
                @Html.AntiForgeryToken()
            </form>
        </li>
    </ul>
</nav>
