@using AccountTemplate.ViewModels
@model BranchVM

<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 class="text-center">Edit Branch</h2>

        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="BranchName" class="control-label"></label>
                <input asp-for="BranchName" class="form-control" />
                <span asp-validation-for="BranchName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WhatsApp" class="control-label"></label>
                <input asp-for="WhatsApp" class="form-control" />
                <span asp-validation-for="WhatsApp" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Geolocation" class="control-label"></label>
                <input asp-for="Geolocation" class="form-control" />
                <span asp-validation-for="Geolocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</body>

</html>
