@using AccountTemplate.ViewModels
@model CreateRoleVM

@{
    ViewData["Title"] = "Create Role";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <form asp-action="CreateRole" asp-controller="Role">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="roleName" class="control-label">Role Name</label>
                        <input asp-for="roleName" class="form-control" />
                        <span asp-validation-for="roleName" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
