@using AccountTemplate.ViewModels
@using Microsoft.AspNetCore.Identity

@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .card {
            margin: 0 auto;
            max-width: 80%;
        }

        table {
            text-align: center;
            margin: 0 auto;
        }

        th, td {
            vertical-align: middle;
        }

        .create-button {
            margin-bottom: 20px;
            float: right;
        }

        .clearfix::after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <h2 class="text-center mt-4">@ViewData["Title"]</h2>

    <div class="card">
        <div class="card-header clearfix">
            <a asp-action="CreateRole" class="btn btn-success create-button">Create New Role</a>
            <h3 class="card-title">Role List</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Name</td>
                            <td>
                                <a asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary btn-sm">Edit Role</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</body>
</html>
